$accent: #00ee93;
body {
	color: $accent;
	background-color: black;
	margin: 0;
	font-size: 16px;
	font-family: monospace;
	font-weight: lighter;
	text-align: center;
}

aside {
	@keyframes chargement {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	position: fixed;
	top: 1em;
	left: 1em;
	z-index: -1;
	opacity: 0;
	animation: chargement 1s 1s alternate infinite;
}

main {
	display: grid;
	place-content: center;
	min-height: calc(100vh - 4em);
	opacity: 0;
	padding: 2em;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiB2aWV3Qm94PSIwIDAgMTMyLjI5MiAxMzIuMjkyIiB4bWxuczp2PSJodHRwczovL3ZlY3RhLmlvL25hbm8iPjxnIHRyYW5zZm9ybT0ibWF0cml4KC0xIDAgMCAxIDE2NC40MTk2NSAtNjAuMzg2ODkpIj48cGF0aCBkPSJNMzIuMTI4IDYwLjM4N0gxNjQuNDJWMTkyLjY4SDMyLjEyOHoiIHBhaW50LW9yZGVyPSJtYXJrZXJzIGZpbGwgc3Ryb2tlIi8+PHJlY3Qgcnk9Ii4wMjEiIHk9IjE5MS4zNTYiIHg9IjE2My4wOTciIGhlaWdodD0iMS4zMjMiIHdpZHRoPSIxLjMyMyIgZmlsbD0iIzBjMCIgcGFpbnQtb3JkZXI9Im1hcmtlcnMgZmlsbCBzdHJva2UiLz48L2c+PC9zdmc+");
	background-size: 5em;
	background-repeat: repeat;
	background-position: 50% 50%;
	transition: opacity 0.3s 0.05s;

	> div {
		margin: 1em 0;
	}

	&.loaded {
		opacity: 1;
	}

	p,
	h1 {
		margin: 0;
	}

	#date,
	#jourrestant {
		display: none;
		&.shown {
			display: block;
		}
	}

	#minerLink {
		background: transparentize($color: $accent, $amount: 0.2);
		color: black;
		text-decoration: none;
		padding: 0.3em 0.5em;
		border-radius: 4px;
		transition: opacity 0.2s;

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 0.6;
		}
	}

	.history-liste {
		overflow-y: auto;
		text-align: left;
		max-height: 200px;
		padding: 0 40px;

		p {
			margin-top: 1em;
		}
	}
}

::-webkit-scrollbar {
	width: 1px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: transparentize($color: $accent, $amount: 0.5);
}
